# This file is an example of .env without sharing credentials

BASE_URL=
API_BASE_URL=

USER_AGENT=

BROWSER=chromium
HEADLESS=true

# viewport_size
VIEWPORT_WIDTH=1620
VIEWPORT_HEIGHT=1080

# user's credentials, used it for manual start
USER_FIRST_NAME=
USER_LAST_NAME=
DATE_OF_BIRTH=
COUNTRY=
POSTAL_CODE=
STREET=
HOUSE_NUMBER=
CITY=
STATE=
PHONE=
EMAIL=
PASSWORD=